<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <title th:text="${proveedor.uuid == null} ? 'Nuevo Proveedor' : 'Editar Proveedor'"></title>

    <th:block th:replace="~{fragmentos :: bootstrap}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<div th:replace="~{fragmentos :: menu}"></div>

<div class="container mt-4">

    <div class="form-card form-producto">

        <div class="form-header text-center">
            <h2 th:text="${proveedor.uuid == null} ? 'Nuevo Proveedor' : 'Editar Proveedor'"></h2>
            <p>Completa la información del proveedor</p>
        </div>

        <form th:action="${proveedor.uuid == null} ? @{/rutaProveedores/guardar} : @{/rutaProveedores/actualizar}"
              th:object="${proveedor}"
              method="post">

            <input type="hidden" th:field="*{uuid}">

            <div class="form-grid">

                <div class="form-group">
                    <label>Nombre de la Empresa</label>
                    <input type="text" th:field="*{nombreEmpresa}" >
                    <div class="text-danger" th:if="${#fields.hasErrors('nombreEmpresa')}" th:errors="*{nombreEmpresa}"></div>
                </div>

                <div class="form-group">
                    <label>Teléfono</label>
                    <input type="text" th:field="*{telefono}" >
                    <div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
                </div>

                <div class="form-group">
                    <label>Correo</label>
                    <input type="email" th:field="*{correo}" >
                    <div class="text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></div>
                </div>

                <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" th:field="*{direccion}" 
					
					
					{}>
                    <div class="text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
                </div>

            </div>

            <div class="form-actions">

                <a th:href="@{/rutaProveedores/listar}" class="btn-cancel">
                    Cancelar
                </a>

                <button type="submit" class="btn-form">
                    Guardar Proveedor
                </button>

            </div>

        </form>

    </div>

</div>

</body>
</html>