<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <title th:text="${categoria.uuid == null} ? 'Nueva Categoría' : 'Editar Categoría'"></title>

    <div th:replace="~{fragmentos :: bootstrap}"></div>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<div th:replace="~{fragmentos :: menu}"></div>

<div class="container mt-4">

    <div class="form-card form-category">

        <div class="form-header text-center">
            <h2 th:text="${categoria.uuid == null} ? 'Registrar Categoría' : 'Editar Categoría'"></h2>
            <p>Gestiona las categorías de tu cafetería</p>
        </div>

        <form th:action="${categoria.uuid == null} ? @{/rutaCategorias/guardar} : @{/rutaCategorias/actualizar}"
              th:object="${categoria}"
              method="post">

            <input type="hidden" th:field="*{uuid}">

            <div class="form-group">
                <label>Nombre de la Categoría</label>
                <input type="text" th:field="*{nombre}" >

                <div class="text-danger"
                     th:if="${#fields.hasErrors('nombre')}"
                     th:errors="*{nombre}">
                </div>
            </div>

            <div class="form-group">
                <label>Descripción</label>
                <textarea th:field="*{descripcion}" rows="3"
                         ></textarea>

                <div class="text-danger"
                     th:if="${#fields.hasErrors('descripcion')}"
                     th:errors="*{descripcion}">
                </div>
            </div>

            <div class="form-actions">

                <a th:href="@{/rutaCategorias/listar}" class="btn-cancel">
                    Cancelar
                </a>

                <button type="submit" class="btn-form">
                   Guardar Categoria
                </button>

            </div>

        </form>

    </div>

</div>

</body>
</html>