<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Sistema de Cafetería</title>

    <th:block th:replace="~{fragmentos :: bootstrap}"></th:block>
</head>

<body>

    <div th:replace="~{fragmentos :: menu}"></div>

    <section class="hero">
        <div class="container hero-grid">

            <div class="hero-content">
                <h2>Bienvenido al Sistema de Gestión de Cafetería</h2>

                <p>
                    Sistema diseñado para administrar productos,
                    categorías, tamaños y proveedores de manera organizada.
                </p>

                <a href="#" class="btn-decorative">
                    Hacer pedido
                </a>
            </div>

            <div class="hero-image-container">
                <img
                    src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085"
                    alt="Cafetería"
                    class="hero-image">

                <div class="hero-image-overlay"></div>
            </div>

        </div>
    </section>

</body>

</html>
